*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.rect{
    display: flex;
}

.shape{
    height: 200px;
    width: 200px;
    border: 0.2vw solid black;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1vw;
    margin-left: 0.1vw;
}

#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
}


